.product-table {
  border-collapse: collapse;
  width: 100%;

  .product-row:nth-child(even) {
    background-color: #ccc;
  }

  .product-row:nth-child(odd) {
    background-color: #ddd;
  }

  .product-row.highlight {
    background-color: #faffbc;
  }

  .product-row.disabled {
    color: #eee;
  }

  .product-row td, thead td {
    padding: 10px;
  }

  .product-row .col-amend {
    text-align: center;
  }

  .product-row .remove > a {
    display: inline-block;
    padding: 5px;
    color: #000;
    border: 1px solid #000;
  }
}

