.tab-container {
  padding: 10px;
  display: inline-block;

  .tab {
    border: 1px solid black;
    display: inline-block;
    margin-right: 10px;

    a {
      padding: 10px;
      display: block;
      min-width: 80px;
      text-align: center;
      text-transform: capitalize;
      background-color: #ccc;
      color: #000;
    }
  }

  .tab.disabled {
    border: 1px solid #eee;
    
    a {
      color: #adadad;
      background-color: #eee;
      pointer-events: none;
      cursor: default;
    }
  }
}